:root {
  --darkGrey: #505050;
  --gray: #575757;
  --brightGray: #606060;
  --red: #f43f3f;
  --charCoal: #262626;
  --lightGrey: #cdcdcd;
  --greyBorder: #ddd;
  --greyWhite: #d1d1d1;
  --greyBg: #e5e5e5;
  --lightShadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  --skyBlue: #1890ff;
  --darkBlue: #5f63d3;
  --darkNavy: #181955;
  --lightDarkBlue: #4c50c5;
  --lavender: #efeffb;
  --diroset: #5ccba3;
  --white: #ffffff;
}
